<!-- 
import * as React from "react";
import {
  Carousel,
  CarouselContent,
  CarouselItem,
  CarouselNext,
  CarouselPrevious,
} from "@/components/ui/carousel";
import { Card, CardContent } from "@/components/ui/card";

interface ServiceCardProps {
  title: string;
  text1: string;
  text2: string;
  text3: string;
}

const missionData: ServiceCardProps[] = [
  {
    title: "Facial de hidratación",
    text1: "Hidrata, nutre, suaviza, ilumina y revitaliza.",
    text2: "Restaura la humedad natural mejorando su suavidad, elasticidad y brillo.",
    text3: "Ideal para piel seca o deshidratada.",
  },
  {
    title: "Facial limpieza profunda",
    text1: "Limpia, purifica, equilibra, renueva y desintoxica.",
    text2: "Elimina impurezas, puntos negros y exceso de grasa.",
    text3: "Deja la piel limpia y equilibrada.",
  },

];

export function ServicesCarousel() {
  return (
    <Carousel
      opts={{ align: "start" }}
      className="w-full"
    >
      <CarouselContent className="-ml-4">
        {missionData.map((service, index) => (
          <CarouselItem
            key={index}
            className="pl-4 md:basis-1/2 lg:basis-1/3"
          >
            <div className="p-1">
              <Card className="h-full">
                <CardContent className="p-6">
                  <div className="relative border border-primary rounded-4xl p-4 lg:p-8 h-full">
                    <div className="absolute bg-primary-foreground p-5 lg:p-8 rounded-full top-0 right-0"></div>
                    <h3 className="text-lg md:text-2xl text-primary font-bold mb-5 lg:pr-20">
                      {service.title}
                    </h3>
                    <ul className="text-base text-primary mb-4 space-y-2">
                      <li>{service.text1}</li>
                      <li>{service.text2}</li>
                      <li>{service.text3}</li>
                    </ul>
                    <button className="text-base md:text-lg mt-5 text-primary border border-primary py-2 px-4 rounded-lg hover:bg-primary-foreground hover:text-white transition">
                      Saber más…
                    </button>
                  </div>
                </CardContent>
              </Card>
            </div>
          </CarouselItem>
        ))}
      </CarouselContent>
      <CarouselPrevious />
      <CarouselNext />
    </Carousel>
  );
} -->
